p { margin: 0; padding: 0; }

ul { margin: 0; padding: 0; }

a { text-decoration: none; }

body {
	margin: 0;
	background-color: #ced0d8;
	padding: 10px 0;
	font-family: 1em Arial, Helvetica, sans-serif;
}

.container {
	width: 1167px;
	margin: 0 auto;
}

.clearfix::after {
	content: "";
	display: table;
	clear: both;
}

.to-left {
	float: left;
}

.to-right {
	float: right;
}

header,
.menu,
.empty-block,
.blue-bg,
.inner-block,
.statistics {
	-webkit-box-shadow: 0 0 5px #9f9da1;
	box-shadow: 0 0 5px #9f9da1;
}

/*=======  header  =======*/

header {
	border: 1px solid #878486;
	background-color: #ced0d8;
	height: 166px;
}

h4 {
	font-family: Arial;
	text-align: center;
	margin-bottom: 0;
	color: #5fa7f3;
	margin-top: 0;
}

.head-paragraph {
	font-family: Arial;
	color: #5fa7f3;
	font-size: 11pt;
}

.head-paragraph-block {
	margin-right: 34px;
	margin-top: 29px;
	text-shadow: 0 0 0 white, 0em 0em 10px #7ecae3;
}

.img-logo {
	vertical-align: 60px;
	margin-left: 55px;
	margin-right: 73px;
}

/*=======  menu  =======*/

.menu {
	font-family: Arial;
	background-color: #2b8bdd;
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px solid #878486;
	margin-top: 10px;
	color: #fff;
}

.menu a {
	display: inline-block;
	margin-left: 12px;
	margin-right: 12px;
	color: #fff;
}

.menu a:first-child {
	margin-left: 33px;
}

/*=======  main  =======*/

.main {
	font-family: Arial;
	margin-top: 7px;
	font-size: 12pt;
}

.main-block1 {
	width: 252px;
	margin-right: 10px;
}

.empty-block {
	height: 5px;
	background-color: #e3f0fa;
	border-left: 1px solid #878486;
	border-top: 1px solid #878486;
	border-right: 1px solid #878486;
}

.main-block1 .empty-block {
	width: 244px;
}

.main-block1 .inner-block {
	border-left: 1px solid #878486;
	border-bottom: 1px solid #878486;
	border-right: 1px solid #878486;
}

.main-block1 nav.inner-block {
	width: 197px;
	background-color: #e3f0fa;
	padding-top: 27px;
	padding-left: 47px;
	padding-bottom: 61px;
	font-size: 15px;
}

.blue-bg {
	background-color: #2b8bdd;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #fff;
	border: 1px solid #878486;
	border-radius: 3px;
	font-size: 12pt;
}

.main-block1 .blue-bg p {
	padding-left: 76px;
}

.main-block1 .blue-bg img {
	padding-right: 4px;
	padding-top: 7px;
}

ul a {
	color: #2b8bdd;
}

.upper {
	text-transform: uppercase;
}

.main-block2 {
	width: 642px;
}

.main-block2 .inner-block {
	width: 631px;
	margin-left: 5px;
	background-color: #e3f0fa;
	border-left: 1px solid #878486;
	border-bottom: 1px solid #878486;
	border-right: 1px solid #878486;
}

.main-block2 .blue-bg img:first-child {
	padding-left: 4px;
	padding-top: 7px;
}

.main-block2 .blue-bg img:last-child {
	padding-right: 4px;
	padding-top: 7px;
}

.main-block2 .blue-bg p {
	margin-left: 22px;
}

.main-block2 .inner-block img {
	margin-top: 7px;
	margin-left: 6px;
}

.info-news {
	background-color: #feffff;
	color: #86888d;
	border: 1px solid #959699;
	font-size: 9pt;
	margin-left: 5px;
	margin-top: 7px;
	margin-bottom: 46px;
	padding-top: 15px;
	padding-left: 27px;
	padding-bottom: 13px;
}

.info-news span {
	color: #efc7c7;
}

.text-news {
	color: #3892e3;
	margin-top: 19px;
	margin-right: 21px;
	font-size: 14px;
}

.go-news {
	margin-top: 66px;
	text-align: right;
	margin-right: 29px;
	font-size: 11pt;
}

.go-news a {
	color: #3892e3;
}

.main-block3 {
	width: 253px;
}

.main-block3 .inner-block {
	width: 246px;
	margin-left: 5px;
	background-color: #e3f0fa;
	border-left: 1px solid #878486;
	border-bottom: 1px solid #878486;
	border-right: 1px solid #878486;
}

.main-block3 .blue-bg img {
	padding-left: 4px;
	padding-top: 7px;
}

.main-block3 .blue-bg p {
	margin-right: 147px;
}

.main-block3 .inner-block {
	text-align: center;
	color: #2b8bdd;
	font-size: 11pt;
}

.main-block3 .inner-block p:first-child {
	padding-top: 9px;
}

.main-block3 .inner-block div p {
	margin-top: 9px;
	margin-bottom: 20px;
}

button {
	width: 63px;
	height: 24px;
	border: 1px solid #757171;
	background-color: #2b8bdd;
	color: #fff;
	font-size: 8pt;
	text-align: center;
}

button:first-child,
button:nth-child(2) {
	margin-right: 18px;
}

button span {
	color: #efc7c7;
}

.btn {
	margin-bottom: 22px;
}

/*=======  footer  =======*/

.statistics {
	font-family: Arial;
	margin-top: 99px;
	height: 44px;
	border: 1px solid #7571710;
	background-color: #2b8bdd;
	color: #fff;
	font-size: 11pt;
}

.statistics p {
	margin-top: 13px;
	margin-left: 13px;
}

.statistics img {
	margin-top: 5px;
	margin-right: 4px;
}

.copyright {
	font-family: Tahoma, Arial;
	height: 114px;
	background-color: #e3f0fa;
	margin-top: 14px;
	border: 1px solid #2b8bdd;
	color: #2b8bdd;
	font-size: 11pt;
	padding-top: 20px;
	padding-left: 16px;
}

.copyright img {
	padding-right: 6px;
}

.copyright p:last-child {
	text-align: right;
	margin-right: 18px;
	text-transform: uppercase;
	clear: both;
}

footer p:last-child {
	text-align: right;
	color: #2b8bdd;
	margin-top: 9px;
}
